.root {
    -fx-font-size: 15px;
    -fx-font-family: "Segoe UI";
    -fx-background-color: rgb(123, 123, 100);
}
Button {
    -fx-background-color: white;
    -fx-background-radius: 0;
    -fx-pref-height: 37px;
}
Button:hover {
    -fx-background-color: rgba(255, 255, 255, 0.05);
}
.menuTypeGame {
    -fx-background-color: red !important;
    -fx-pref-height: 50px;
    -fx-pref-width: 300px;
}
#btnChoiceDuel, #btnChoiceTournament {
    -fx-pref-width: 150px;
}